/* Using Mobile First Media Queries */
/* Base style */

$pink: #e53297;
$orange: #fc4c38;
$red: #d32f2f;
$light-pink: #fcf0f7;
$light-grey: #f5f5f5;

$primary: $pink;

@import "vendor/milligram.scss";

$slick-arrow-color: $pink;

@import "vendor/slick.scss";
@import "vendor/slick-theme.scss";

#menu-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

  height: 50px;
  background: #363f41;
  h1 {
    font-size: 2rem;
    margin: 0;
    display: inline;
  }
  #logo {
    width: 30px;
    vertical-align: bottom;
  }
  &>section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  .navigation-list {
    list-style: none;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;

    li {
      margin: 0;
      padding-left: 12px;
    }

    .navigation-list-link {
      color: rgba(#fff, 0.8);
    }

    .button {
      margin: 0;
      padding: 0 16px;
      border: 1px solid #fff;
      background: none;
    }
  }
}

#splash {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$orange+0,db509d+100 */
  background: $pink; /* Old browsers */
  background: -moz-linear-gradient(45deg, $orange 0%, $pink 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $orange 0%,$pink 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $orange 0%,$pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange', endColorstr='$pink',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: #FFF;
  position: relative;

  height: 90vh;
  overflow: auto;
  &>.container {
    height: 100%;
  }
  .splash-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("./img/splash3-min.png") no-repeat center bottom;
    background-size: auto 100%;
  }
  .splash-text-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .splash-text {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
  }
  #title {
    text-transform: uppercase;
    font-weight: 800;
    margin: 0 0 5px;
    font-size: 3.5rem;
    width: 90%;
    .big, .small {
      display: block;
      line-height: 0.9;
    }
    .small {
      font-size: 2rem;
      letter-spacing: 1px;
    }
  }
  h2 {
    font-size: 1.6rem;
    color: rgba(#FFF, 0.9);
  }
}

.page-section {
  padding: 100px 0;
  overflow: visible;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    font-size: 1.8rem;
  }
}

#about-us {
  background: $light-pink;
  .about-us-picture {
    width: 100px;
    margin: 0 auto;
  }
}

.clan-link-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.clan-link {
  opacity: 0.3;
  display: block;
  width: 40px;
  margin: 0 10px;
  img {
    max-width: 100%;
  }
}

#events {
  h4 {
    margin: 0;
  }
}

#testimonials {
  background: $light-pink;
}

blockquote {
  border-color: $pink;
  em {
    color: $pink;
    padding-right: 3px;
    font-style: normal;
    font-weight: 600;
  }
}

.quote-author {
  margin-top: -20px;
}

.testimonial-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  img {
    height: 90px;
    border-radius: 5px;
  }
  img, blockquote {
    margin: 5px;
  }
}

#join-us {
  text-align: center;
}

#footer {
  overflow: auto;
  background: $light-grey;
  padding: 40px 0;
  p {
    margin: 0;
  }
}

h3 {
  color: $pink;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  color: rgba($pink, 0.65);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.big-number {
  color: #777;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
}

.button {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$orange+0,db509d+100 */
  background: $pink; /* Old browsers */
  background: -moz-linear-gradient(45deg, $orange 0%, $pink 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $orange 0%, $pink 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $orange 0%, $pink 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orange', endColorstr='$pink',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: none;
}


input+.helper-text, textarea+.helper-text {
  margin-top: -15px;
}

.server-error {
  margin: 150px 0 100px;
  text-align: center;
}


.form-error {
  color: $red;
}
input.error, textarea.error {
  border-color: $red;
  background: rgba($red, 0.1);
}
.help-block {
  display: block;
  font-size: 80%;
}
fieldset.has-error {
  .helper-text {
    margin-bottom: 0;
  }
  .help-block {
    margin-bottom: 2.5rem;
  }
}
.column.has-error, .checkbox-agree.has-error {
  background: rgba($red, 0.05);
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {

  #about-us {
    .about-us-picture {
      margin-top: -200px;
      margin-bottom: -140px;

      flex-basis: 400px;
      flex-grow: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .testimonial-inner {
    img {
      height: 180px;
      border-radius: 10px;
    }
    img, blockquote {
      margin: 10px;
    }
  }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {

}
